    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title></title>
      </head>
      <body>
        <h1>Maximum Temperature from <%= fromDate %> to <%= toDate %> : </h1>
        <h1> <%= maxT %> degree celcius</h1>
        <h1>Minimum Temperature from <%= fromDate %> to <%= toDate %> : </h1>
        <h1> <%= minT %> degree celcius</h1>
      </body>
    </html>
